.container {
  ::ng-deep {
    .header {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: flex-start;
      .controls {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &.user {
          justify-content: space-between;
          padding: 16px 18px;
        }
      }
    }

    .events-tabview {
      .p-tabview-panels {
        padding: 0.5rem 0rem;
      }
    }

    .upcoming-events {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      align-items: center;

      .event-card {
        margin: 0px 10px;
      }
    }
  }
}

.leaderboard-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  .icon {
    background: url(/assets/leaderboard-icon.svg);
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    ::ng-deep {
      .upcoming-events {
        flex-direction: column;
        align-content: center;

        .event-card {
          .p-card {
            width: 90vw;
          }
        }
      }
    }
  }
}
