<div class="container">
  <div class="header">
    <div class="controls" [class.user]="!isAdmin">
      <button
        pButton
        class="p-button-rounded"
        type="button"
        pRipple
        icon="pi pi-sign-out"
        (click)="logout()"
      ></button>
      <h1>Product</h1>
      <div class="leaderboard-icon" (click)="navigateToLeaderboard()">
        <div class="icon"></div>
      </div>
      <button
        *ngIf="isAdmin"
        pButton
        class="btn btn-primary"
        type="button"
        label="Add Event"
        icon="pi pi-plus"
        (click)="navigateToCreateEvent()"
      ></button>
    </div>
  </div>
  <p>Please select an event below</p>
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="upcoming-events" *ngIf="!loading">
    <app-small-card
      *ngFor="let event of events"
      class="event-card"
      (view)="navigateToEvent(event.id)"
      (edit)="editEvent(event.id)"
      [id]="event.id"
      [label]="event.name"
      [imgUrl]="event.imgUrl"
      [editable]="isAdmin"
    ></app-small-card>
  </div>
</div>
