<div class="container" *ngIf="!loading">
  <app-navigation
    label="{{ currentActivity?.name }}"
    [backUrl]="backUrl"
  ></app-navigation>
  <app-banner
    *ngIf="currentActivity?.imgUrl !== ''"
    imgUrl="{{ currentActivity?.imgUrl }}"
  ></app-banner>

  <div *ngIf="teamScores.length > 0">
    <h2>Scores</h2>

    <div class="teams">
      <div class="team-section" *ngFor="let score of scores; let i = index">
        <h3 class="position">{{ getScore(i) }}</h3>
        <app-team-card
          [id]="teamScores[i].team.id"
          [label]="teamScores[i].team.name"
          [imgUrl]="teamScores[i].team.imgUrl"
          [editable]="isAdmin"
          [maxScore]="teamScores[i].maxScore"
          [totalScore]="teamScores[i].score"
          class="team-card"
          [scorable]="false"
          [editable]="false"
        ></app-team-card>
      </div>
    </div>
  </div>
</div>
