<div class="container" *ngIf="!loading">
  <div class="header">
    <img src="../../../assets/logo.svg" alt="" />
  </div>

  <div class="sub-header">
    <h1>Sign Up</h1>
    <p>
      Join us below by rating the Rabbits as they find their way through
      breweing and food.
    </p>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="signup-form">
    <div class="input-fields">
      <div class="row">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input type="text" pInputText formControlName="username" />
            <label class="float-input" for="float-input">Username</label>
          </span>
        </div>
        <div
          class="error-text"
          *ngIf="
            signUpForm.get('username')?.touched &&
            !signUpForm.get('username')?.valid
          "
        >
          Username cannot be empty
        </div>
      </div>
      <div class="row">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input type="email" pInputText formControlName="email" />
            <label class="float-input" for="float-input">Email</label>
          </span>
        </div>
        <div
          class="error-text"
          *ngIf="
            signUpForm.get('email')?.touched && !signUpForm.get('email')?.valid
          "
        >
          Email cannot be empty
        </div>
      </div>
      <div class="row">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input type="password" pInputText formControlName="password" />
            <label class="float-input" for="float-input">Password</label>
          </span>
        </div>
        <div
          class="error-text"
          *ngIf="
            signUpForm.get('password')?.touched &&
            !signUpForm.get('password')?.valid
          "
        >
          Password cannot be empty
        </div>
      </div>
      <div class="row">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input type="number" pInputText formControlName="numberOfPeople" />
            <label class="float-input" for="float-input">Number of +1s</label>
          </span>
        </div>
        <div
          class="error-text"
          *ngIf="
            signUpForm.get('numberOfPeople')?.touched &&
            !signUpForm.get('numberOfPeople')?.valid
          "
        >
          Number of +1s cannot be empty
        </div>
      </div>
    </div>
    <div class="controls">
      <div class="row">
        <button
          pButton
          class="btn btn-primary"
          type="submit"
          [disabled]="!signUpForm.valid"
          label="Sign up"
        ></button>
      </div>
      <div class="row">
        <button
          pButton
          class="btn btn-primary"
          label="Login"
          (click)="navigateToLogin()"
        ></button>
      </div>
    </div>
  </form>
</div>
