<app-navigation [backUrl]="backUrl" label="Leaderboard"></app-navigation>

<p-tabView *ngIf="activities$ | async as activities" (onChange)="getActvityScores(activities[$event.index])">
  <p-tabPanel *ngFor="let item of activities">
    <ng-template pTemplate="header" >
      <div class="leaderboard-tab">
        <div class="lb-icon">
          <div *ngIf="item.name | stringContains: 'beer'" style="background: url('/assets/Beer.svg'); width: 40px; height: 40px;"> </div>
          <div *ngIf="item.name | stringContains: 'potjie'" style="background: url('/assets/Potjie.svg'); width: 40px; height: 40px;"> </div>
        </div>
        <div class="lb-name">{{item.name}}</div>
      </div>
    </ng-template>
      
    <div class="leaderboard-table">
      <div class="row" >
        <div class="rank"><span>1</span></div>
        <div class="team">
          <span class="team-name">Fast Food</span>
          <span class="team-cat">The team</span>
        </div>
        <div class="score">
          <div>7/10</div>
          <span>Score</span>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
