<div class="container" *ngIf="!loading">
  <div class="header">
    <img src="../../../assets/logo.svg" alt="" />
  </div>

  <div class="sub-header">
    <h1>Let the judgement begin</h1>
    <p>
      Join us below by rating the Rabbits as they find their way through
      breweing and food.
    </p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="input-fields">
      <div class="row">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input type="text" pInputText formControlName="username" />
            <label class="float-input" for="float-input">Username</label>
          </span>
        </div>
        <div
          class="error-text"
          *ngIf="
            loginForm.get('username')?.touched &&
            !loginForm.get('username')?.valid
          "
        >
          Username cannot be empty
        </div>
      </div>
      <div class="row">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input type="password" pInputText formControlName="password" />
            <label class="float-input" for="float-input">Password</label>
          </span>
        </div>
        <div
          class="error-text"
          *ngIf="
            loginForm.get('password')?.touched &&
            !loginForm.get('password')?.valid
          "
        >
          Password cannot be empty
        </div>
      </div>
    </div>
    <div class="controls">
      <div class="row">
        <button
          pButton
          class="btn btn-primary"
          type="submit"
          [disabled]="!loginForm.valid"
          label="Login"
        ></button>
      </div>
      <div class="row">
        <button
          pButton
          class="btn btn-primary"
          label="Sign up"
          type="button"
          (click)="navigateToSignUp()"
        ></button>
      </div>
    </div>
  </form>
</div>
