.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 20px);

  ::ng-deep {
    .header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      margin: 115px 0px;
      img {
        width: calc(100vw - 30px);
        max-width: 330px;
        height: 60px;
      }
    }
    .login-form {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;

        .p-inputgroup {
          margin: 25px;
          width: auto;
          .float-input {
            color: #fff;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            margin-top: -0.6rem;
          }
          input {
            width: calc(100vw - 50px);
            max-width: 335px;
            height: 56px;
            background-color: #000;
            border: 1px solid #938f99;
            border-radius: 4px;
            color: #fff;

            &:focus {
              box-shadow: none;

              ~ label {
                top: -1rem;
              }
            }

            &.p-filled {
              ~ label {
                top: -1rem;
              }
            }
          }
        }
        .error-text {
          font-size: 12px;
          margin-left: 25px;
          color: #f00;
        }
      }
      .controls {
        .btn.btn-primary {
          width: 200px;
        }
      }
    }
  }
}
