::ng-deep {
  body {
    margin: 0;
    padding: 0;
    #content {
      #main-content {
        margin: 10px;
        .btn {
          .btn-primary {
          }
          .btn-secondary {
          }
          .btn-tertiary {
          }
        }

        .container {
          .loader {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
