<div class="teams-card">
  <div class="details">
    <p-card class="card" [class.default]="imgUrl === ''">
      <div>
        <img *ngIf="imgUrl !== ''" src="{{ imgUrl }}" alt="" />
        <p class="name">{{ label }}</p>
        <p class="score" *ngIf="maxScore > 0">
          {{ totalScore + " / " + maxScore }}
        </p>
        <p class="score" *ngIf="maxScore <= 0">Not Scored</p>
      </div>
      <i class="pi pi-pencil" *ngIf="editable" (click)="clickEdit()"></i>
      ></p-card
    >
  </div>
  <div class="score" *ngIf="scorable">
    <h5 class="header">
      {{ myScore > 0 ? "Your Score: " + myScore + " / 10" : "Not yet scored" }}
    </h5>
    <p-rating
      id="{{ 'rating-' + id }}"
      [(ngModel)]="myScore"
      [stars]="10"
      (onRate)="clickScore($event)"
      (onCancel)="clickScore($event)"
    ></p-rating>
  </div>
</div>
