<div class="container">
  <div class="nav">
    <img src="../../../assets/logout.svg" alt="" (click)="logout()" />
    <h3>Activities</h3>
    <img src="../../../assets/leaderboard.svg" alt="" (click)="leaderboard()" />
  </div>

  <div class="controls">
    <img
      src="../../../assets/qr-code.svg"
      alt=""
      class="qr"
      (click)="openQR()"
    />
  </div>

  <div class="activity-container">
    <div class="crest">
      <img src="../../../assets/Crest.svg" class="invert" alt="" />
    </div>
    <h2>Activities</h2>
    <p>Please select an activity below</p>

    <div class="activities" *ngIf="this.activities.length > 0 && !loading">
      <div
        class="activity-section"
        *ngFor="let activity of activities; let i = index"
      >
        <app-small-card
          [label]="activity.name"
          [imgUrl]="activity.imgUrl"
          class="activity-card"
          [editable]="isAdmin"
          (view)="navigateToActivity(activity.id)"
          (edit)="editActivity(activity.id)"
        ></app-small-card>
        <div
          class="activity-details"
          *ngIf="teamData.length > 0 && teamData[i]"
        >
          <p>Teams: {{ teamData[i].teams.length }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="this.activities.length <= 0">
      <p>No Activities found</p>
    </div>
  </div>
  <div class="dialog">
    <p-dialog
      header="Booking information"
      *ngIf="qrData"
      [(visible)]="dialogVisible"
      [style]="{ width: '90vw', height: '90vh' }"
      [modal]="true"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="qr-code">
        <img [src]="'data:image/jpg;base64,' + qrData" alt="" />
      </div>
    </p-dialog>
  </div>
</div>
<div class="loader" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
