<app-navigation backUrl="{{backUrl + '/' + team?.activityId}}" label="{{team?.name}}"></app-navigation>

<div class="teams-container">
  <h3 class="header">Score</h3>
  <p class="sub-header">Please score each item below</p>

  <ng-container *ngIf="categories != null && categories.length > 0; else noData">
    <app-score-card *ngFor="let cat of categories"></app-score-card>
  </ng-container>

  <ng-template #noData>
    <div>
      <span>{{team?.name}} does not belong to any categories</span>
    </div>
  </ng-template>
  
  
</div>
