.teams-container {
  padding: 10px;
  .header {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
  }
  .sub-header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

.scores {
  width: 100%;
  max-height: calc(100vh - 230px);
  overflow-y: auto;
  margin-bottom: 100px;
}

.save {
  position: fixed;
  bottom: 0;
  left: 0;
}
