/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

* {
  --animation-time: 300ms;
  --box-shadow: 0;
  --inset-box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 32%);

  font-family: "Open Sans", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
}

.p-button {
  background-color: #226104 !important;
  border: 1px solid #226104 !important;
}

//tabs
.p-tabview .p-tabview-panels {
  background: none;
}

.p-tabview .p-tabview-nav {
  background: none;
  border: 1px solid transparent;
  border-width: 0 0 5px 0;

  li {
    flex: 1;
  }

  li .p-tabview-nav-link {
    background: none;
    border-bottom: 5px solid transparent;
  }
  li.p-highlight .p-tabview-nav-link {
    background: none;
    border-bottom: 5px solid #7fbe38;
  }

  li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: #56555585;
  }

  .p-tabview-ink-bar {
    z-index: 1;
    display: none;
    position: absolute;
    bottom: 0;
    height: 2px;
    transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
  }
}

//rating
.p-rating .p-rating-icon {
  font-size: 32px;
}

.p-rating .p-rating-icon.pi-star-fill {
  color: #7fbe38;
}

.p-rating .p-rating-icon:focus {
  box-shadow: none;
}

.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: #7fbe38;
}

body {
  margin: 0;
  padding: 0;
  #content {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    #main-content {
      padding: 10px;
      .btn {
        color: #fff;
        border-radius: 100px;
        height: 40px;
        &.btn-primary {
          background-color: #7fbe38 !important;
          border: 1px solid #7fbe38;
        }
        &.btn-secondary {
          background-color: #fff !important;
          border: 1px solid #fff;
        }
        &.btn-tertiary {
        }
      }

      .container {
        .loader {
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;
        }
        .p-rating.p-rating-icon {
          font-size: 1.35rem;
        }
      }
    }
  }
}
