/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

* {
  --animation-time: 300ms;
  --box-shadow: 0;
  --inset-box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 32%);

  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.p-button {
  background-color: #226104 !important;
  border: 1px solid #226104 !important;
}

body {
  margin: 0;
  padding: 0;
  #content {
    margin: 10px;
    #main-content {
      margin: 10px;
      .btn {
        &.btn-primary {
        }
        &.btn-secondary {
          background-color: #fff !important;
          color: #000;
        }
        &.btn-tertiary {
        }
      }

      .container {
        .loader {
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;
        }
        .p-rating.p-rating-icon {
          font-size: 1.35rem;
        }
      }
    }
  }
}
