<div class="container" [class.edited]="newScores.length > 0" *ngIf="!loading">
  <app-navigation
    label="{{ currentActivity?.name }}"
    [backUrl]="backUrl"
  ></app-navigation>
  <div class="controls" *ngIf="isAdmin">
    <button
      pButton
      class="btn btn-secondary"
      type="button"
      label="Calculate Scores"
      (click)="navigateToCalc()"
    ></button>
    <button
      pButton
      class="btn btn-primary"
      type="button"
      label="Add Team"
      icon="pi pi-plus"
      (click)="navigateToCreate()"
    ></button>
  </div>

  <div class="teams-container">
    <h3 class="header">The Brewers</h3>
    <p class="sub-header">Please score breweing team below</p>

    <div class="teams" *ngIf="teamScores.length > 0">
      <div class="team-section">
        <app-team-card
          *ngFor="let teamScore of teamScores; let i = index"
          [id]="teamScore.team.id"
          [label]="teamScore.team.name"
          [imgUrl]="teamScore.team.imgUrl"
          [scored]="0"
          [activities]="2"
          class="team-card"
          (score)="scoreTeam($event)"
        ></app-team-card>
      </div>
    </div>
    <div *ngIf="teamScores.length <= 0">
      <p>No Teams added</p>
    </div>
  </div>
  <!-- <div *ngIf="newScores.length > 0" class="update">
    <app-update-footer (update)="updateScores()"></app-update-footer>
  </div> -->
</div>
